ul{
    list-style-type: none;
}

li:hover {
    color: red;
}

.two_nav {
    margin: 10px 0px;
}

footer{
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 200px !important; 
}

.nav-blue {
  background-color: #1F3A93 !important;
  border-bottom: 4px solid red;
  z-index: 5 }
  .nav-blue .nav-link {
    color: white !important; }

.nav-blue_glaz {
  background-color: white !important;
  border-bottom: 4px solid black;
  z-index: 5 }
  .nav-blue_glaz .nav-link {
    color: black !important; }
    
.top_bottom_menu{
  width: 170px;
  height: 25px;
  padding-top: 3px;
  border-radius: 22px;
  background-color: #1F3A93;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-top: 4px;
  transform: translate(-50%, -50%);
  z-index: 4;
}
  .top_bottom_menu a {
  color: white;    
  }