nav img {
  height: 30px; }

.nav-blue {
  background-color: #2211cc !important;
  border-bottom: 4px solid red; }
  .nav-blue .nav-link {
    color: white !important; }
.karusel{
  height: 300px !important;;
}
.img-zagl {
  height: 254px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: none;
  background-position: center center;
  width: 100%;
  position: relative; }
  .img-zagl .logo img {
    position: relative;
    margin: 0 auto;
    padding-top: 41px;
    width: 140px;
    height: 185px; }
  .img-zagl .prewie {
    color: blue;
    font-size: 2.1em;
    text-align: center;
    margin-left: 147px;
    margin-top: 50px; }
.main_container{
  margin-top: 5px
}
.two_nav {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px; }
  .two_nav div {
    border: 1px solid black; }
    .two_nav div a {
      color: black;
      font-size: 1.2em; }
  .two_nav div:first-child {
    -webkit-border-bottom-left-radius: 8px;
            border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px; }
  .two_nav div:last-child {
    -webkit-border-bottom-right-radius: 8px;
            border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
            border-top-right-radius: 8px; }

.raspisane h3 {
  text-align: center; }

.slider {
  padding: 0px !important;
}

.raspisane div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px; }

.news_list {
  background-color: #f2f2f2 !important; }
  .news_list .news_block {
    margin-top: 35px; }
    .news_list .news_block .news img {
      height: 160px !important;
      width: 245px !important; }
    .news_list .news_block .news:hover {
      border: 3px solid black;
      -webkit-border-radius: 15px;
              border-radius: 15px; }
  .news_list .anons_block {
    margin-top: 35px;
    text-align: center; }

.live_univers {
  margin-top: 20px; }

.head_video {
  margin-bottom: 20px; }

.gallery {
  height: 380px !important;
  position: relative; }

.gallery_img img {
  width: 100%;
  height: 190px; }

.video iframe {
  width: 100%;
  height: 315px; }

.partners {
  /*margin-top: 62px;*/
  position: relative;
  background-color: #f2f2f2 !important; }
  .partners img:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }
  .partners a {
    width: 100%;
    height: 100%;
  }
  .partners div {
    padding: 0px !important;
  }
  .partners_image {
    width: 63%;
    height: 64%;
    margin: 10px;
    filter: grayscale(0.75);
    -ms-filter: grayscale(0.75);
  }
  .partners_image:hover {
    filter: grayscale(0);
    -ms-filter: grayscale(0);
  }

.responsive-object{
  padding-bottom: 0px !important;
}
footer {
  background-color: #2211cc !important;
  /*margin-top: 25px;*/
  border-top: 3px solid red;
  color: white; }
  footer .row div:first-child {
    border-right: 2px solid white; }
  footer .row div:last-child {
    border-left: 2px solid white; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .two_navs_container {
    padding: 0px !important;
    /*margin: 0px !important;*/
    }
  .two_nav div a {
      color: black;
      font-size: 1.1em; }
  .prewie {
    font-size: 1.8em !important;
  }
  }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .slider{
      visibility: hidden;
      height: 0px;
      margin: 0px;
    }
    .prewie {
      margin-left: 0px !important;
    }
   }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .img-zagl {
    height: 280px;
  }
  .two_nav {
    margin-top: 85px;
  }
 }

@media only screen and (max-width: 725px) {
  .two_nav {
    margin-top: 40px;
  }
 }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .main_container {
    margin-top: 150px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 533px) {
  .main_container {
    margin-top: 180px;
  }
  .prewie {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 399px) {
  .prewie {
    font-size: 1.65em !important;
  }
}
@media only screen and (max-width: 369px) {
  .prewie {
    font-size: 1.55em !important;
  }
}
@media only screen and (max-width: 339px) {
  .prewie {
    font-size: 1.5em !important;
  }
}