ul{
    list-style-type: none;
}

.overfloy {
    overflow-x: auto !important;
}

li:hover {
    color: red;
}

.two_nav {
    margin: 10px 0px;
}

footer{
  /*position: absolute !important;*/
  bottom: 0 !important;
  width: 100% !important;
  height: 200px !important;  /*Set the fixed height of the footer here */
}