{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load blog_tags %}

{% for g in gallery %}
  <div class="col-6 col-sm-3 gallery_img">
    <div class="card my-card">
      <a href="{% pageurl g %}">{% image g.main_image max-205x190 %}</a>
      <div class="card-body">{{ g.title }}</div>
    </div>
  </div>
{% endfor %}