<div class="col align-self-center">        
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if gallery.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ gallery.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}""><<</a></li>
      {% endif %}
      {% if gallery.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ gallery.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"">{{ gallery.previous_page_number }}</a></li>
      {% endif %}

      {% if gallery.has_next %}
        <li class="page-item active"><a class="page-link" href="">{{ gallery.number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ gallery.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ gallery.next_page_number }}</a></li>
      {% else %}
        <li class="page-item active"><a class="page-link" href="">{{ gallery.number }}</a></li>
      {% endif %}
      {% if gallery.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ gallery.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">>></a></li>
      {% endif %}
    </ul>
  </nav>
</div>