{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% load blog_tags %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}

  <div class="sending_message">
    
    <h1>Электронная приемная филиалла УГАТУ в городе Кумертау</h1>
    
    {% if status == "Done" %}
      <div class="jumbotron">
        <h1 class="display-4">Ваще обращение принято!</h1>
        <p class="lead">
          Теперь дождитесь обратной связи в близжайщее время. Мы с Вами обязательно свяжемся.
        </p>
      </div>
    {% elif status == 'Error' %}
      <div class="jumbotron">
        <h1 class="display-4">Ваще обращение не принято!</h1>
        <p class="lead">
          Увы и ах, что то произошло(или сломалось) в системе). Мы уже знаем о проблеме и скоро ее подправим. А пока можете обратиться по номеру <a href="tel:+73476141494">+7(34761)4–14–94</a> или <a href="tel:+73476142651"> +7(34761)4–26–51</a>
        </p>
      </div>
    {% endif %}

    <form action="{% url "priemnaya:get_message" %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-md-6 form-group">
          <label for="exampleFormControlInput1">Ваша электронная почта</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" name="email" placeholder="Введите свой email, например: name@example.com" required>
        </div>

        <div class=" col-12 col-md-6 form-group">
          <label for="exampleFormControlInput1">Как к вам обращаться</label>
          <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" name="name" placeholder="Иванов Иван Иванович" required>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Ваще обращение</label>
        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>

    </form>

  </div>


{% endblock %}


{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/info_page.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/priemnaya.css' %}">
{% endblock %}