
{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">

  <title>Title</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:image" content="path/to/image.jpg">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body class="ishome">
  {% image page.main_image original as mainimage %}

  <div class="my-page">
    <div class="my-header">
      <header class="head" style="background-image: url({{ mainimage.url }});">

        <div class="top_line">
          <div class="menu">
            <div class="menu_text">
              Меню
            </div>
          </div>

          <div class="logo"></div>

          <div class="contact">
            <div class="number">
              <a href="tel:+73476142651">+7 (34761) 4-26-51</a>
            </div>
            <div class="email">
              <a href="email:kumertau@ugatu.su">kumertau@ugatu.su</a>
            </div>
          </div>
        </div>

        <div class="text_center">
          <h1>Филиал Уфимского государственного  авиационного технического университета в г. Кумертау</h1>
        </div>

        <div class="small_text_center">
          <h1>Получи качественное образование в родном городе </h1>
        </div>

      </header>
    </div>

    <div class="news_page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 news_page_head">
            Жизнь университета
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>
          <div class="col-12 col-sm-6 news">
            <img src="{% static 'landing/img/zagl.png' %}" alt="">
            <div class="head_news">
              Название новости
            </div>
            <div class="body_news">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum perspiciatis possimus pariatur, error sapiente ab. Consequatur vel, nisi. Ullam error alias fugit excepturi. A velit voluptate pariatur perferendis quas.
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

  <link rel="stylesheet" type="text/css" href="{% static 'landing/css/main.min.css' %}">
  <script src="{% static 'landing/js/scripts.min.js' %}"></script>
</body>
</html>