<table class="table table-bordered">
    {% if table_header %}
        <thead>
        <tr>
            {% for column in table_header %}
                <th scope="col">
                    {% if column.strip %}
                        {% if html_renderer %}
                            {{ column.strip|safe|linebreaksbr }}
                        {% else %}
                            {{ column.strip|linebreaksbr }}
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for row in data %}
        <tr>
            {% for column in row %}
                {% if first_col_is_header and forloop.first %}
                    <th scope="row">
                        {% if column.strip %}
                            {% if html_renderer %}
                                {{ column.strip|safe|linebreaksbr }}
                            {% else %}
                                {{ column.strip|linebreaksbr }}
                            {% endif %}
                        {% endif %}
                    </th>
                 {% else %}
                    <td>
                        {% if column.strip %}
                            {% if html_renderer %}
                                {{ column.strip|safe|linebreaksbr }}
                            {% else %}
                                {{ column.strip|linebreaksbr }}
                            {% endif %}
                        {% endif %}
                    </td>
                 {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>