{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load blog_tags %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <title>Заявка</title>
  </head>

  <body>
    <script type="text/javascript">
  function down()
  {
    var a = document.getElementById('dropdown');
    if ( a.style.display == 'none' )
      a.style.display = 'block'
    else
      if ( a.style.display == 'block' )
      a.style.display = 'none';
  };
  </script>

  <br>
  <div class="logo">
   <img src="{% static "img/header-logo.png" %}" alt="Логотип УГАТУ" id="logo_id">    
  </div>
<form method="post" autocomplete="on" enctype="multipart/form-data" action="{% url "konference:registration" %}" id="main_form">
   {% csrf_token %}
  <h4 align="center">Заявка на участие в XVI Всероссийской СНП конференции 12-13 апреля 2018г.</h4>
  <h4 align="center">1. Заполнить данные об участнике:</h4>
  <br>
  <h5 align="center">Участник 1</h5>
  <br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
          <label for="i_familia">Фамилия</label>
          <input type="text" class="form-control" id="i_familia" name="member_familia" required>
      </div>
      <div class="col-2">
          <label for="i_imya">Имя</label>
          <input type="text" class="form-control" id="i_imya" name="member_name" required>
      </div>
      <div class="col-2">
          <label for="i_otchestvo">Отчество</label>
          <input type="text" class="form-control" id="i_otchestvo" name="member_otch" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
        <label for="i_email">E-mail</label>
        <input type="text" class="form-control" id="i_email" name="member_email" required>
      </div>
      <div class="col-2">
        <label for="i_date">Дата рождения</label>
        <input type="date" class="form-control" id="i_date" name="member_date" required>
      </div>
       <div class="col-2">
        <label for="i_number">Телефон</label>
        <input type="text" class="form-control" id="i_number" placeholder="8-800-555-35-35" name="member_tel" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
          <label for="i_mesto">Место учебы</label>
          <input type="text" class="form-control" id="i_mesto" name="member_mesto" required>
      </div>
      <div class="col-2">
      <label for="i_k">Класс/курс</label>
      <input type="text" class="form-control" id="i_k" name="member_class" required>
      </div>
    </div>
    
  </div> 
   <br>
  <center>
    <a class="socialbutton" onclick="down()">Добавить второго участника</a>
  </center>
  <ul id="dropdown" style="display:none">
  <br>
  <h5 align="center">Участник 2</h5>
  <br>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
          <label for="i_familia">Фамилия</label>
          <input type="text" class="form-control" id="i_familia" name="member_two_familia"> 
      </div>
      <div class="col-2">
          <label for="i_imya">Имя</label>
          <input type="text" class="form-control" id="i_imya" name="member_two_name">
      </div>
      <div class="col-2">
          <label for="i_otchestvo">Отчество</label>
          <input type="text" class="form-control" id="i_otchestvo" name="member_two_otch">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
          <label for="i_email">E-mail</label>
          <input type="text" class="form-control" id="i_email" name="member_two_email">
      </div>
      <div class="col-2">
          <label for="i_date">Дата рождения</label>
          <input type="date" class="form-control" id="i_date" name="member_two_date">

      </div>
       <div class="col-2">
        <label for="i_number">Телефон</label>
        <input type="text" class="form-control" id="i_number" placeholder="8-800-555-35-35" name="member_two_tel">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
          <label for="i_mesto">Место учебы</label>
          <input type="text" class="form-control" id="i_mesto" name="member_two_mesto">
      </div>
      <div class="col-2">
        <label for="i_k">Класс/курс</label>
        <input type="text" class="form-control" id="i_k" name="member_two_class">
      </div>
    </div>
    
  </div> 


  </ul>

   <br>
   <br>

  <h4 align="center">2. Заполнить данные о руководителе:</h4>

   <br>


  <h5 align="center">Руководитель 1</h5>

  <br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
          <label for="i_familia">Фамилия</label>
          <input type="text" class="form-control" id="manage_familia" name="manage_familia" required>
      </div>
      <div class="col-2">
          <label for="i_imya">Имя</label>
          <input type="text" class="form-control" id="i_imya" name="manage_name" required>
      </div>
      <div class="col-2">
          <label for="i_otchestvo">Отчество</label>
          <input type="text" class="form-control" id="i_otchestvo" name="manage_otch" required>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
      <label for="i_email">E-mail</label>
      <input type="text" class="form-control" id="i_email" name="manage_email" required>
      </div>
    <div class="col-2">
      <label for="i_number">Телефон</label>
      <input type="text" class="form-control" id="i_number" placeholder="8-800-555-35-35" name="manage_tel" required>
    </div>
  </div>   

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
          <label for="i_mesto">Место работы</label>
          <input type="text" class="form-control" id="i_mesto" name="manage_mesto" required>
      </div>
      <div class="col-2">
      <label for="i_dolzhnost">Должность</label>
      <input type="text" class="form-control" id="i_dolzhnost" name="manage_dolznost" required>
      </div>
    </div>
  </div>

   <br>
   
   <script type="text/javascript">
    
  function down_2()
  {
    var a = document.getElementById('dropdown2');
    if ( a.style.display == 'none' )
      a.style.display = 'block'
    else
      if ( a.style.display == 'block' )
      a.style.display = 'none';
  };
  </script>

  <center>
  <a class="socialbutton" onclick="down_2()">Добавить второго руководителя</a>
  </center>
  <ul id="dropdown2" style="display:none">
    <br>
    <h5 align="center">Руководитель 2</h5>
    <br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3">
          <label for="i_familia">Фамилия</label>
          <input type="text" class="form-control" id="manage_familia" name="manage_two_familia">
      </div>
      <div class="col-2">
          <label for="i_imya">Имя</label>
          <input type="text" class="form-control" id="i_imya" name="manage_two_name">
      </div>
      <div class="col-2">
          <label for="i_otchestvo">Отчество</label>
          <input type="text" class="form-control" id="i_otchestvo" name="manage_two_otch">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
      <label for="i_email">E-mail</label>
      <input type="text" class="form-control" id="i_email" name="manage_two_email">
      </div>
    <div class="col-2">
      <label for="i_number">Телефон</label>
        <input type="text" class="form-control" id="i_number" placeholder="8-800-555-35-35" name="manage_two_tel">
    </div>
  </div>   

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
          <label for="i_mesto">Место работы</label>
          <input type="text" class="form-control" id="i_mesto" name="manage_two_mesto">
      </div>
      <div class="col-2">
      <label for="i_dolzhnost">Должность</label>
      <input type="text" class="form-control" id="i_dolzhnost" name="manage_two_dolznost">
      </div>
    </div>
  </div>
   
  </ul>

   <br>
   <br>
   
  <h4 align="center">3. Выбрать направление или секцию:</h4>
  <br>
  <div class="row justify-content-md-center">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Внимание!</strong> Школьники выбирают направление, а студенты секцию
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <br>
    <div class="row justify-content-center">
      <div class="col-3">        
        <select id="select01" class="form-control" name="sections">
          <option value="None">Список секций</option>
          {% for s in sections %}
            <option value="{{ s.id }}" >{{ s }}</option>        
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        Для студентов(СПО, ВО)
      </div>
    </div>
  <br>
  <br>
    <div class="row justify-content-center">
      <div class="col-3">        
        <select id="select0" class="form-control" name="directions">
          <option value="None">Список направлений</option>
          {% for d in directions %}
            <option value="{{ d.id }}" >{{ d }}</option>        
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        Для школьников 1-11 классы
      </div>
    </div>
   <br>
   <br>

  <h4 align="center">4. Указать название работы:</h4>

  <div class="row justify-content-md-center">
  <div class="col-7">
          <input type="text" class="form-control" id="i_familia" name="name_sience_work" required>
      </div>
  </div>  

   <br>
   <br>


  <h4 align="center">5. Загрузить статью и квитанцию об оплате:</h4>


  <br>
   
  <div class="block">
  <div class="col">
  <h5 align="center">Загрузка статьи</h5>
     <p><input type="file" name="sience_work" required>
     <input type="submit" value="Отправить"></p>
  </div>
  </div> 

    <div class="block">
    <div class="col">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="i_check" name="treat">
        <label class="form-check-label" for="i_check" >Добавить работу в сборник</label>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="col">
      <h5 align="center">Загрузка квитанции об оплате</h5>
       <p><input type="file" name="pay" required>
       <input type="submit" value="Отправить"></p>
    </div>
  </div>

  <br>

  <div class="block">
    <div class="col">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="i_check">
        <label class="form-check-label" for="i_check"><a href="#exampleModalCenter" data-toggle="modal">Ознакомлен(а) с правилами сбора информации</a></label>
      </div>
    </div>
  </div>
    
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Правила сбора информации</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        При заполнении заявки Вы соглашаетесь с тем, что Ваши персональные данные указаны верно, предоставлены Вами добровольно и будут сохранены и обработаны в рамках необходимого при проведении данной конференции в порядке, установленном федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных».
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

   <br>
   
    <div class="block">
      <div class="col">
        <button type="submit" class="btn btn-primary disabled" id="get" aria-disabled="true">Подать заявку</button>
      </div>
    </div>
   <br>
</form>    
    
<!-- Modal -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content suc">

    </div>
  </div>
</div>

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static "js/registrations.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
  <link rel="stylesheet" href="{% static "css/registrations.css" %}">
</html>