<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Спасибо за регистрацию на нашу конференцию!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Что бы вернуться на главную страницу сайта нажмите на кнопку "На главную страницу сайта". Если вы хотите заполнить еще одну заявку нажмите на кнопку "Новая заявка"</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">На главную страницу сайта</a>
    <a class="btn btn-success btn-lg" href="{% url 'konference:main' %}" role="button">Новая заявка</a>
  </p>
</div>