<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Список файлов</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {% for f in files %}
      <p><a href="{{ f.file.url }}">{{ f.file }}</a></p>
    {% endfor %}  
</div>
