{% load static wagtailuserbar %}
<div class="modal fade" id="{{ type_table }}_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="{{ type_table }}_content">

    </div>
  </div>
</div>

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>Код</th>
      <th>Наименование специальности, направления подготовки</th>
      <th>Уровень образования</th>
      <th>Форма обучения</th>
      <td>Профиль</td>
      <td>Год начала обучения</td>
      <td>Описание образовательной программы</td>
      <td>Учебный план</td>
      <td>Аннотации к рабочим программам дисциплин</td>
      <td>Календарный учебный график</td>
      <td>Методические и иные документы</td>
      <td>Использовании электронного обучения и дистанционных образовательных технологий</td>
    </tr>
  </thead>
  <tbody>
    {% for c in record %}
      <tr>
        <td>{{ c.cod }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.level_obraz }}</td>
        <td>{{ c.form_learn }}</td>
        <td>{{ c.profile }}</td>
        <td>{{ c.year }}</td>
        <td><a href="{{ c.opisanie.url }}"><img src="{% static "img/pdf.svg" %}"></a></td>
        <td><a href="{{ c.plan_learn.url }}"><img src="{% static "img/pdf.svg" %}"></a></td>
        <td>
          <button type="button" id="file" js-id-rec='{{ c.id }}' js-type-table="{{ type_table }}" js-type-file='anotate' class="btn btn-primary" data-toggle="modal" data-target="#{{ type_table }}_modal">
            Показать
          </button>
        </td>
        <td>
          <button type="button" id="file" js-id-rec='{{ c.id }}' js-type-table="{{ type_table }}" js-type-file='plan_graf' class="btn btn-primary" data-toggle="modal" data-target="#{{ type_table }}_modal">
            Показать
          </button>
        </td>
        <td>
          <button type="button" id="file" js-id-rec='{{ c.id }}' js-type-table="{{ type_table }}" js-type-file='metoda' class="btn btn-primary" data-toggle="modal" data-target="#{{ type_table }}_modal">
            Показать
          </button>
        </td>
        <td>{{ c.electr_learn }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>