ul{
    list-style-type: none;
    padding: 0px;
}

.two_nav {
    margin: 10px 0px;
}

.two_nav div a {
      color: black;
      font-size: 0.9em; 
}
.menu{
  /*background-color: #2211cc;*/
}

.image {
  max-width: 60%;
  height: auto;
  margin-bottom: 5px;
}

.block-image img {
  max-width: 60%;
  height: auto;
  margin-bottom: 5px;
}

.li_menu_right {
  border: 1px solid white;
  border-radius: 8px;
  /*margin-bottom: 5px;*/
  text-align: center;
  background-color: #2211cc;
}

.card.card-body {
  background-color: #00276d !important;
}

.card.card-body a {
  color: white !important;
}
.card.card-body a:hover {
  color: white !important;
  background-color: #00276d !important;
}

.li_menu_right a {
  color: white;
  /*margin-left: 5px;*/
  text-align: center;
  padding: 0px !important;
}

.li_menu_right a:hover {
  color: white;
}

.a_dropdown{
  color: black !important;
}

#galerry{
  margin: auto;
}


.li_menu_right_glaz {
  border: 1px solid black;
  border-radius: 8px;
  /*margin-bottom: 5px;*/
  text-align: center;
  background-color: white;
}

.li_menu_right_glaz a {
  color: black;
}

.li_menu_right_glaz a:hover {
  color: black;
}

.glaz_back {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
}

.font_h2 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-right: auto !important;
  margin-top:auto !important;
}

.font_h3 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
  margin-right: auto !important;
}

.font_h4 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 768px) {
.image {
  max-width: 100% !important;
}

.block-image img {
  max-width: 100% !important;
}

}