.galleria{
    max-width: 100%;
    /*height: 400px; */
    background: white; 
}

.image_tmb {
    background-color: black;
    margin: 3px;
}

.zoom {
    height: 0px;
    position: relative;
}

.image_tmb:hover {
/*    -webkit-filter: brightness(24%);
    filter: brightness(24%);
*/    -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
    background-color: black;
    transition: 0.2s;
}