.search {
  margin-right: 1%;
  position: absolute;
  right: 40px;
  top: 4px;
}

.search button {
  border-color: #1F3A93 !important;
}

/* для версии для слабовидящих */
.glaz {
  background-color: white !important;
  color: black !important;
  background-image: none !important;
  border-color: black !important;
}

.glaz_body_active {
  z-index: 100;
  width: 100%;
  height: 86px;
}

.glaz_img{
  width: 0px !important;
  height: 0px !important;
  visibility: hidden;
}

.noslider{
  visibility: hidden;
  height: 0px;
  margin: 0px;  
}
.anons_body_glaz {
  background-color: white !important;
  color: black !important;
}
.anons_body_glaz:hover {
  background-color: white !important;
  color: black !important;
}
  .anons_glaz:hover a {
    color: black !important;
    text-decoration: none;
  }
.wrapper_fluid_glaz {
  background-color: white !important;
}

.footer_glaz {
  background-color: white !important;
  /*margin-top: 25px;*/
  border-top: 3px solid black;
  color: black; }
  .footer_glaz .row div:first-child {
    border-right: 2px solid black; }
  .footer_glaz .row div:last-child {
    border-left: 2px solid black; }
  .footer_glaz a{
    color: black;
  }
  .footer_glaz a:hover{
    color: black;
  }
.number_week_glaz {
      border: 2px solid black !important;
      color: black;
      border-radius: 8px;
    }

.all_news_glaz{
  color: black !important;
  padding: 0px 5px !important;
  border-color: black !important;
}
.all_news_glaz:hover {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}
.dropdown-menu_glaz{
  background-color: white !important;
  border: 2px solid black !important;
}
.dropdown-menu_glaz a {
  color: black !important;
}
.dropdown-menu_glaz a:hover {
  background-color: white !important;
}

.glaz_back {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 59px;
  background-color: white !important;
  border: 2px solid black !important;
  color: black !important;
}

.glaz_back:hover {
  background-color: black !important;
  color: white !important;
}

.font_h2 {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
  margin-top: 59px;
  margin-right: 150px;
  padding: 0px !important;
  background-color: white !important;
  border: 2px solid black !important;
  color: black !important;
}

.font_h2:hover {
  background-color: black !important;
  color: white !important;
}


.font_h2 h2{
  margin: 0px;
}      
.font_h3 {
  position: absolute;
  left: 35%;
  transform: translate(-50%, -50%);
  margin-top: 59px;
  margin-right: 150px;
  padding: 0px !important;
  background-color: white !important;
  border: 2px solid black !important;
  color: black !important;
}

.font_h3:hover {
  background-color: black !important;
  color: white !important;
}


.font_h3 h3{
  margin: 0px;
}      
.font_h4 {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  margin-top: 59px;
  margin-right: 150px;
  padding: 0px !important;
  background-color: white !important;
  border: 2px solid black !important;
  color: black !important;
}
.font_h4:hover {
  background-color: black !important;
  color: white !important;
}

.font_h4 h4{
  margin: 0px;
}

.f_h2{
  font-size: 1.3em !important;
}
.f_h3{
  font-size: 1.2em !important;
}
.f_h4{
  font-size: 1.1em !important;
}

.search input {
  height: 36px;
  margin-top: 8px;
}

/* Сокрытие глаза */
.glaz_hide {
  height: 0px;
  width: 0px;
}

/* Навигация */
nav img {
  height: 30px; }

.nav-blue {
  background-color: #1F3A93 !important;
  border-bottom: 4px solid red;
  z-index: 5 }
  .nav-blue .nav-link {
    color: white !important; }

.nav_custom {
  text-align: center;
  padding-right: 50px;
}

/*.nav_custom:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.nav_link_custom {
  width: 149px;
  display: inline-block;
  vertical-align: middle;
}
*/
.nav-blue_glaz {
  background-color: white !important;
  border-bottom: 4px solid black;
  z-index: 5 }
  .nav-blue_glaz .nav-link {
    color: black !important; }

.top_bottom_menu{
  width: 170px;
  height: 25px;
  padding-top: 3px;
  border-radius: 22px;
  background-color: #1F3A93;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-top: 4px;
  transform: translate(-50%, -50%);
  z-index: 4;
}
  .top_bottom_menu a {
  color: white;    
  }

/* Карусельки ^_^ */

.karusel{
  height: 300px !important;
  width: 100%;
}
.img-zagl {
  height: 254px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: none;
  background-position: center center;
  width: 100%;
  position: relative; }
  .img-zagl .logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 59px; }
  .img-zagl .prewie {
    color: #1F3A93;
    font-size: 2.1em;
    text-align: center;
    margin-left: 147px;
    margin-top: 50px; }
    .prewie h1 {
      font-size: 1em;
    }
.main_container{
  margin-top: 5px
}
.two_nav {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 10px; }
  #top_menu:last-of-type {
    -webkit-border-bottom-right-radius: 8px;
            border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
            border-top-right-radius: 8px; }
   #top_menu:first-child {
    -webkit-border-bottom-left-radius: 8px;
            border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px; }
  .two_nav div {
    border: 1px solid black; }
    .two_nav div a {
      color: black; }

.raspisane h3 {
  text-align: center; }
  .rasp_header {
    color: #1F3A93;
    /*margin-top: 5px;*/
    font-size: 1.4em;
    margin-bottom: 8px;
  }
    .number_week {
      border: 2px solid #1F3A93;
      color: red;
      border-radius: 8px;
    }
  .rasp{
    color: #1F3A93;
    font-size: 1.7em;
    font-weight: 600;
  }
    .rasp_buttom{
      padding: 0px 5px !important;
      color: #1F3A93;
      border-color: #1F3A93
    }

.priem_comis {
  border: 3px solid red;
  border-radius: 15px;
  text-align: center;
  color: black;
}

.priem_comis a {
  color: black;
}

.priem_comis a:hover {
  text-decoration: none;
  color: black;
}

.tel {
  color: #d95644 !important;
}

.anons_block {
  margin: 15px 0px;
}

.anons_item {
  display: flex;
  margin-bottom: 10px;
}
.anons_item .date {
  width: 10%;
  text-align: center;
  background-color: #e23e3f;
  color: white;
  line-height: 1.3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.date b {
  align-self: center;
}

.number_data {
  font-size: 1.4em;
}

.anons_body {
  width: 90%;
  background-color: #ffffff!important;
  color: black;
  margin-bottom: 0px !important;
}

.anons_item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
  .anons_item:hover {
    color: red !important;
    text-decoration: none;
  }
.slider {
  padding: 0px !important;
}

.wrapper_fluid {
  background-color: #f2f2f2;
}
  .head_news{
    margin-bottom: 10px;
    color: #1F3A93;
  }
    .all_news{
      color: #1F3A93 !important;
      padding: 0px 5px !important;
      border-color: #1F3A93 !important;
    }
    .all_news:hover {
      color: white !important;
      background-color: #1F3A93 !important;
    }
  .news_list .news_block {
    margin-top: 15px; }
    .news img {
      height: 160px;
      width: 245px; }
     .news .card-body {
      padding: 10px 10px !important; }      
    .news_list .news_block .news:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */ 
      }
  .news_list .anons_block {
    margin-top: 35px;
    text-align: center; }

.live_univers {
  margin-top: 20px; }

.head_video {
  margin-bottom: 20px;
  color: #1F3A93; }

.video_button {
  margin-left: 38%;
}

.gallery {
  height: 380px !important;
  position: relative; }

.gallery_but{
  margin-left: 86%;
}

.gallery_img img {
  width: 100%;
  height: 120px; }

.gallery_img {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.gallery_img .card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.card-body {
  padding: 10px 0px !important;
  text-align: center;
}

.video iframe {
  width: 100%;
  height: 315px; }

.partners {
  /*margin-top: 62px;*/
  height: 90px;
  position: relative;
  background-color: #f2f2f2 !important; }
  .partners img:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }
  .partners a {
    width: 100%;
    height: 100%;
  }
  .partners div {
    padding: 0px !important;
  }
  .partners_image {
    width: 63%;
    height: 70%;
    margin: 10px;
    filter: grayscale(0.95);
    -ms-filter: grayscale(0.95);
  }
  .partners_image:hover {
    filter: grayscale(0);
    -ms-filter: grayscale(0);
  }

.responsive-object{
  padding-bottom: 0px !important;
}

.dropdown-menu{
  background-color: #00276d !important;
}
  .dropdown-menu a{
    color: white !important;
  }.number_week {
      border: 2px solid #1F3A93;
      color: red;
      border-radius: 8px;
    }
  .dropdown-menu a:hover{
    background-color: #00276d !important;
  }

footer {
  background-color: #1F3A93;
  /*margin-top: 25px;*/
  border-top: 3px solid red;
  color: white; }
  footer .row div:first-child {
    border-right: 2px solid white; }
  footer .row div:last-child {
    border-left: 2px solid white; }
  footer a{
    color: red;
  }
  footer a:hover{
    color: red;
  }

.icon_footer {
  width: 12%;
  border: 3px solid white;
  border-radius: 8px;
  margin-left: 10px;
  padding: 2px;
}

.icon_footer:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1695px) {
  .prewie {
    margin: 0px 12% !important;
    padding-left: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .prewie {
    margin-top: 82px !important;
  }
  .video_button {
    margin-left: 48%;
  }
  .video iframe {
  width: 100%;
  height: 450px; }
}

@media only screen and (max-width: 1200px) {
  .two_navs_container {
    padding: 0px !important;
    /*margin: 0px !important;*/
    }
  .two_nav div a {
      color: black;
      font-size: 0.85em; }
  .prewie {
    font-size: 1.8em !important;
    margin-top: 82px !important;
  }

  .news{
    -webkit-box-direction: normal !important;
    flex-direction: column !important; 
  }
     .news img{
      width: 100%;
      height: 290px;

  .rasp_header {
    color: #1F3A93;
    font-size: 1.4em;
  }
  .rasp{
    font-size: 1.3em;
    text-align: center;
  }

.video_button {
  margin-left: 38%;
}

.partners {
  margin-top: 62px;
  height: 80px;}
  .gallery_but{
    margin-left: 72%;
  }
  .gallery_img img {
    height: 109px; }

  .font_h2{
    left: 38% !important;
  }
  .font_h3{
    left: 33% !important;  
  }
  .font_h4{  
    left: 28% !important;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  .search {
  right: 165px;
  }

  .search .input-group {
    width: 0px;
  }
  
  .search input {
    visibility: hidden;
    height: 0px;
  }

  #top_menu {
    -webkit-border-bottom-right-radius: 8px;
            border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
            border-top-right-radius: 8px; 
    -webkit-border-bottom-left-radius: 8px;
            border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px; }
  .slider{
      visibility: hidden;
      height: 0px;
      margin: 0px;
    }
  .prewie {
      margin-left: 0px !important;
    }
  .news{
      -webkit-box-direction: normal !important;
      flex-direction: column !important; 
    }
     .news img{
        width: 100%;
        height: 200px;
      }
  .video_button {
    margin-left: 60%;
  }     
  .gallery_but{
    margin-left: 85%;
  }      
  .gallery_img img {
    height: 90px; }
  .font_h2{
    left: 35% !important;
  }
  .font_h3{
    left: 29% !important;  
  }
  .font_h4{  
    left: 25% !important;
  }
  .partners {
    margin-top: -155px; }

  footer {
    text-align: center;
  }

  footer .row div:first-child {
    border-right: none;
    border-bottom: 2px solid white; }
  footer .row div:last-child {
    border-left: none;
    border-top: 2px solid white; }

  .icon_footer {
    width: 6%;
  }

   }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .gallery_img img {
    height: 109px; }
   }


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .img-zagl {
    height: 280px;
  }
  .two_nav {
    margin-top: 30px;
  }
  .main_container {
    margin-top: 50px;
  }
  .news img{
    height: 150px;
  }
  .gallery_but{
    margin-left: 80%;
  } 
  .gallery_img img {
    height: 70px; }
  .partners {
      height: 175px;
      margin-top: -180px; }
  .partners_image {
    width: auto;
    height: 63%;}      
.font_h2{
  left: 30% !important;
}
.font_h3{
  left: 22% !important;  
}
.font_h4{  
  left: 15% !important;
}

  .video_button {
    margin-left: 46%;
  }     

}

@media only screen and (max-width: 725px) {
  .two_nav {
    margin-top: 10px;
  }
  .col-all_news{
    max-width: 30%;
  }
 }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .main_container {
    margin-top: 150px;
  }

  .news img {
    max-width: 100%;
    height: auto; }

  .gallery_img img {
    height: 140px; }
  .partners {
      margin-top: 100px; }

}

@media only screen and (max-width: 539px) {
  .video_button {
    margin-left: 45%;}     
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 533px) {
  .main_container {
    margin-top: 115px;
  }
  .prewie {
    margin-top: 10px !important;
  }
  .gallery_but{
    margin-left: 0%;
    width: 100%;
  }
.partners_image {
    width: 63% !important;
    height: 55%;}     
  .logo{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .video_button {
    margin-left: 40%;}
}

@media only screen and (max-width: 487px) {
  .video_button {
    margin-left: 30%;}
}

@media only screen and (max-width: 412px) {
  .prewie {
    font-size: 1.65em !important;
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 399px) {
  .prewie {
    font-size: 1.65em !important;
  }
  .two_nav {
    margin-top: 20px;
  }
  .news img {
    height: 220px; }
  .main_container {
    margin-top: 110px;
  }
  .col-all_news{
    max-width: 100%;
  }
  .icon_footer {
    width: 10%;
  }
  .gallery_img img {
    height: 85px; }
  .partners {
      margin-top: -10px; }
  .video_button {
    margin-left: 0%;}
}

@media only screen and (max-width: 375px) {
  .prewie {
    font-size: 1.4em !important;
    margin-top: 30px !important;
  }
  .two_nav {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 339px) {
  .prewie {
    font-size: 1.4em !important;
  }
}
@media only screen and (max-width: 327px) {
  .two_nav {
    margin-top: 4px;
  }
}


