.ul_menu_right {
    list-style-type: none;
    padding: 0px;
}

.overfloy {
    overflow-x: auto !important;
    font-size: 12px;
    font-family: Times New Roman;
}

.overfloy img {
    width: 40px;
}

.two_nav {
    margin: 10px 0px;
}

.two_nav div a {
      color: black;
      font-size: 0.9em; 
}

.nav_blue_2 {
  background-color: #ffffff !important;
  border-bottom: none;
  z-index: 5 }

.my_button {
  width: 100%;
}

.li_menu_right {
  border: 1px solid white;
  border-radius: 8px;
  /*margin-bottom: 5px;*/
  text-align: center;
  background-color: #1F3A93;
}

.my_icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.card.card-body {
  background-color: #00276d !important;
}

.card.card-body a {
  color: white !important;
}
.card.card-body a:hover {
  color: white !important;
  background-color: #00276d !important;
}

.li_menu_right a {
  color: white !important;
  /*margin-left: 5px;*/
  text-align: center;
  padding: 0px !important;
}

.li_menu_right a:hover {
  color: white;
}

.a_dropdown{
  color: black !important;
}



.li_menu_right_glaz {
  border: 1px solid black;
  border-radius: 8px;
  /*margin-bottom: 5px;*/
  text-align: center;
  background-color: white;
}

.li_menu_right_glaz a {
  color: black !important;
}

.li_menu_right_glaz a:hover {
  color: black;
}

.glaz_back {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
}

.font_h2 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-right: auto !important;
  margin-top:auto !important;
}

.font_h3 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
  margin-right: auto !important;
}

.font_h4 {
  position: relative !important;
  left: auto !important;
  transform: initial !important;
  margin-top:auto !important;
  margin-right: auto !important;
}

table {
  font-size: 12px;
}