/* Preloader*/
#preloader>p {
    display:none;
    }
#preloader_2{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background-size:114px;}

#preloader_2 img{
    background: center center no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@media only screen and (max-width: 900px) {#preloader_2 img{left: 45%;}}
@media only screen and (max-width: 750px) {#preloader_2 img{left: 37%;}}
@media only screen and (max-width: 635px) {#preloader_2 img{left: 33%;}}
@media only screen and (max-width: 550px) {#preloader_2 img{left: 28%;}}
@media only screen and (max-width: 500px) {#preloader_2 img{left: 25%;}}
@media only screen and (max-width: 430px) {#preloader_2 img{left: 21%;}}
@media only screen and (max-width: 360px) {#preloader_2 img{left: 19%;}}

/* end preloader*/