.droplink {
  width:350px;
  position:absolute;
  border-radius:3px;
  margin:10px 0 0 25px
}

.droplink ul{padding:0;margin:0}

.logo {
  height: 75px;
}

#logo_id{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.socialbutton {
  background-color:#ededed;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-size:15px;
  font-weight:bold;
  padding:8px 27px;
  text-decoration:none;
  margin-top: 10px;
  cursor: pointer}

.suc {
  text-align: center;
}

.socialbutton:hover {background-color:#dfdfdf}

.socialbutton:active{position:relative;top:1px}
.droplink li{display:block}

.droplink li a{
  padding:5px 12px 4px 34px;
  margin:1px;
  display:block;
  color:#000;
  text-decoration: none;
  font-size:12px;
  background-repeat:no-repeat;
  background-position: 10px 3px}

.droplink li a:hover {background-color: #999}

.block {
    text-align: center;
    margin: 0 auto;
}

.jumbotron{
  margin-bottom: 0px !important;
}