footer{
  /*position: absolute !important;*/
  bottom: 0 !important;
  width: 100% !important;
  height: 200px !important; /* Set the fixed height of the footer here */
}
.p_footer{
  text-align: center;
}
.footer{
  background-color: #f8f9fa !important;
}

.logo_hide {
  visibility: visible !important;
  height: 40px !important;
  width: 40px !important; 
  padding: 0px;
  margin: 0px;   
}