{% load blog_tags wagtailcore_tags %}
{% for menuitem in menuitems %}
  {% if menuitem.show_dropdown %}
    <li class="li_menu_right nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#col{{ forloop.counter }}" id="top_nav{{ forloop.counter }}" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
        {{ menuitem.title }}
      </a>
      <div class="collapse" id="col{{ forloop.counter }}">
        <div class="card card-body">
        {% right_menu_children parent=menuitem calling_page=self %}
        </div>
      </div>
    </li>  
  {% else %}
    <li class="li_menu_right">
      {% if menuitem.specific.urls %}
        <a href="{{ menuitem.specific.urls }}" target="_blank">
          {{ menuitem.title }}
        <a>
      {% else %}
        <a href="{% pageurl menuitem %}">
          {{ menuitem.title }}
        <a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}