{% load blog_tags wagtailcore_tags %}
{% for menuitem in menuitems %}
      {% if menuitem.specific.urls %}
        <div class="col-12 col-lg-2 col-md-4 col-sm-6" id="top_menu"><a href="{{ menuitem.specific.urls }}">{{ menuitem.title }}<a></div>
      {% else %}
        <div class="col-12 col-lg-2 col-md-4 col-sm-6" id="top_menu"><a href="{% pageurl menuitem %}">{{ menuitem.title }}<a></div>
      {% endif %}
{% endfor %}