{% load blog_tags wagtailcore_tags %}
<div class="collapse" id="col{{ number }}">
    <ul>
    <li><a href="{% pageurl parent %}">{{ parent.title }}</a></li>
    {% for child in menuitems_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    {% endfor %}
    </ul>
</div>
