{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogindexpage{% endblock %}
{% load blog_tags %}

{% block content %}

<main role="main">
  <div class="wrapper_fluid">
    <div class="container">
      <div class="row news_list">
        <div class="col-12 news_block">
          <div class="row justify-content-between head_news">
            <div class="col-1"><h4>Галерея</h4></div>
            <div class="col-3">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Фильтр
              </button>
            </div>
            <div class="collapse filter" id="collapseExample">
              <div class="card card-body my_card">
                <div class="form-group row">

                  <label class="col-md-2 col-form-label" for="exampleFormControlSelect1">Категории</label>
                  <select class="form-control col-md-4" id="category" name="category">
                    <option value="1">Все</option>
                    <option value="2">Спорт</option>
                    <option value="3">Общественная деятельность</option>
                    <option value="4">Наука</option>
                    <option value="5">Разное</option>
                  </select>
                  <div class="col-md-6"></div>
                  <label class="col-md-2 col-form-label" for="exampleFormControlSelect1">Год</label>
                  <select class="form-control col-md-4" id="year" name="year">
                    <option>Все</option>
                    {% for d in year %}
                      <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                  </select>

                  <label class="col-md-2 col-form-label" for="exampleFormControlSelect1">Месяц</label>
                  <select class="form-control col-md-4" id="month" name="month">
                    <option>Все</option>
                    {% for num, item in month.items %}
                      <option value="{{ num }}">{{ item|date:"F" }}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
            </div>
          </div>
          <div class="row" id="main">
            {% include 'blog/include/galerry_all.html' %}
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="pag">
    {% include 'blog/include/gallery_paginations.html' %}
    </div>  

  </div>    
</main>  

{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/all_gallery.css' %}">
{% endblock %}