{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% load blog_tags %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
    <main role="main">
      <div class="container">  
        {% include 'home/navs.html' %}
        <div class="row">
          <div class="col-12">
            <h2>{{ page.title }}</h2>
            <p class="meta">
              {{ page.date }}
            </p>

            {% if page.main_image %}
               <a id="galerrys">{% image page.main_image original class="image" %}</a>                
            {% endif %}


            <div class="intro">{{ page.intro }}</div>
            {{ page.body }}

          {% for item in page.gallery_page.all %}
              <div style="float: left; margin: 10px">
                  {% image item.image original class="image" %}
                  <p>{{ item.caption }}</p>
              </div>
          {% endfor %}
          </div>
          {% if page.gallery_page %}
            <a id="galerry" role="button" class="btn btn-outline-dark" href="{% pageurl page.gallery_page %}">
              Перейти в галерею
            </a>
          {% endif %}
        </div>
      </div>
    </main>  
{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog_page.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}