{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogindexpage{% endblock %}
{% load blog_tags %}

{% block content %}

<main role="main">
  <div class="wrapper_fluid">
    <div class="container">
      <div class="row news_list">
        <div class="col-12 news_block">
          <div class="row justify-content-between head_news">
            <div class="col-6">
              <h4>Новости</h4>
            </div>
            <div class="col-6">
              <form action="{% url 'search' %}" method="get">
                <div class="input-group">
                  <input class="form-control form-control-lg" type="text" placeholder="Поиск новости" list="list" name="query" >
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-lg" type="submit">Поиск</button>
                  </div>                
                  <datalist id="list">
                    {% for b in blogpages_all %}
                      <option value="{{ b.title }}">
                    {% endfor %}
                  </datalist>
                </div>
              </form>                
            </div>
          </div>
          <div class="row">
            {% for post in blogpages %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-6">
              {% with post=post.specific %}
              <a href="{% pageurl post %}">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 news">
                  {% if post.main_image %}
                    {% with post.main_image as main_image %}
                      {% image main_image original %}
                    {% endwith %}
                  {% else %}
                    <img class="img-fluid" src="{% static 'img/zagl.svg' %}" alt="">
                  {% endif %}
                  <div class="card-body d-flex flex-column align-items-stretch">
                    <h5 class="mb-0">
                      <a href="{% pageurl post %}">{{ post.title }}</a>
                    </h5>
                    <div class="mb-1 text-muted">{{ post.date }}</div>
                    <p class="card-text mb-auto">{{ post.intro|truncatechars:75 }}</p>
                  </div>
                </div>
              </a>  
              {% endwith %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col align-self-center">        
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if blogpages.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ blogpages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}""><<</a></li>
          {% endif %}
          {% if blogpages.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ blogpages.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"">{{ blogpages.previous_page_number }}</a></li>
          {% endif %}

          {% if blogpages.has_next %}
            <li class="page-item active"><a class="page-link" href="">{{ blogpages.number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ blogpages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ blogpages.next_page_number }}</a></li>
          {% else %}
            <li class="page-item active"><a class="page-link" href="">{{ blogpages.number }}</a></li>
          {% endif %}
          {% if blogpages.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ blogpages.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">>></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    </div>  

  </div>    
</main>  

{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog_index.css' %}">
{% endblock %}