{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% load blog_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.7/css/lightgallery.min.css">
{% endblock %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
    <main role="main">
      <div class="container">
      {% include 'home/navs.html' %}    
          <a href="{{ page.get_parent.url }}"></a>
          <h2>{{ page.title }}</h2>
          <h3>{{ page.intro }}</h3>
          {{ page.body }}
          <div class="galleria">
            {% for g in page.gallery.all %}
            {% image g.image original as tmp_photo %}
            <a href="{{ tmp_photo.url }}">
              {% image g.image fill-240x160 as tm %}
              <img src="{{ tm.url }}" class="image_tmb" />
              <img src="{% static "img/zoom.png" %}" class="zoom" alt="">
            </a>
            {% endfor %}
          </div>
      </div>
    </main>  
{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/info_page.css' %}">  
  <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.7/js/lightgallery-all.min.js"></script>
   <script src="https://cdn.jsdelivr.net/combine/npm/lg-thumbnail@1.1.0,npm/lg-zoom@1.1.0"></script>
  <script>
    $(document).ready(function() {
        $(".galleria").lightGallery(); 
    });
  </script>
{% endblock %}