{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% load blog_tags %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
    <main role="main">
      <div class="container">
        {% include 'home/navs.html' %}    
        <div class="row">
  
          <div class="col-12 col-sm-12 col-lg-3 menu">
            <nav class="navbar navbar-expand-lg navbar-dark nav_blue_2">
              <button class="navbar-toggler my_button" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon my_icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <ul class="navbar-nav flex-column ul_menu_right">
                  {% block menu %}
                    {% get_site_root as site_root %}
                    {% right_menu parent=self calling_page=self %}
                  {% endblock %}
                </ul>
              </div>
            </nav>
          </div>

          <div class="col-12 col-sm-12 col-md-9">
            <a href="{{ page.get_parent.url }}"></a>
            <h2>{{ page.title }}</h2>
            <p class="meta">{{ page.date }}</p>
            <div class="intro">{{ page.intro }}</div>
            {{ page.body }}
            {% if page.main_image %}
              {% image page.main_image width-500 %}
            {% endif %}

            {% for item in page.gallery_images.all %}
              <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </main>  
{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/info_page.css' %}">
  <script src="{% static "js/annotations/table.js" %}"></script>
{% endblock %}