{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% load blog_tags %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
{% include 'home/navs.html' %}    
    <main role="main">
      <div class="container">  
      <div class="row">

        <div class="col-6 col-sm-4 col-md-3 menu">
          <ul>
            {% block menu %}
              {% get_site_root as site_root %}
              {% top_menu parent=self calling_page=self %}
          {% endblock %}
          </ul>
        </div>

        <div class="col-6 col-sm-8 col-md-9">
          <h2>{{ page.title }}</h2>
          <p class="meta">{{ page.date }}</p>
          <div class="intro">{{ page.intro }}</div>
          <div class="intro">{{ page.body_2 }}</div>
          {{ page.body|richtext }}
          {% if page.main_image %}
            {% image page.main_image width-500 %}
          {% endif %}

        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}

        </div>
      </div>
      </div>
    </main>  
{% endblock %}

{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/ugaty.css' %}">
{% endblock %}