{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogindexpage{% endblock %}
{% load blog_tags %}

{% block descr %}
Уфимский государственный авиационный технический университет в г. Кумертау - филиал одного из ведущих и крупнейших вузов Республики Башкортостан.
{% endblock %}

{% block navs %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block bottom %}

{% endblock bottom %}

{% block content %}
  <div class="container-fluid img-zagl" style="background-image: url({% static "img/shap_21-min.png" %})">
    <div class="logo">
      <img src="{% static "img/header-logo.png" %}" alt="" id="logo_id">
    </div>
   <div class="row">
      <div class="offset-lg-1 col-lg-9 prewie">
        <h1>Филиал Уфимского государственного  авиационного технического университета в г. Кумертау</h1>
      </div>
    </div>
    <div class="container two_navs_container">
      {% include 'home/navs.html' %}
    </div> 
  </div>
  <div class="container main_container">
    <div class="row nav_collapse">
      <div class="col-lg-9 slider">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for item in page.gallery_images.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{{ item.url }}">{% image item.image height-300 class="karusel" %}</a>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 raspisane">
        <div class="rasp">
          Расписание
          <a class="btn btn-outline-primary rasp_buttom" href="{% pageurl page.specific.url_raspisanie %}" role="button">СПО</a>
          <a class="btn btn-outline-primary rasp_buttom" href="{% pageurl page.specific.url_raspisanie %}" role="button">ВО</a>
        </div>
        <p class="rasp_header">
          Учебная неделя
          <b class="number_week">
            16
          </b>
        </p>
        
        <div class="priem_comis">
          <a href="http://ugatu.su/abitur/" target="none">Адрес приёмной комиссии: 453300, Республика Башкортостан г. Кумертау, <br> ул. К. Маркса, 24, Первый корпус филиала УГАТУ в г. Кумертау, 1 этаж, 110 каб. <br> Телефон для справок: <a href="tel:+73476142651" class="tel"> +7(34761)4–14–94</a><br></a>
        </div>

      </div>
      <div class="col-12 anons_block">
        <div class="row">
          <div class="col-1"><h4>Анонсы</h4></div>        
        </div>
        <div class="row">
          {% for ad in adpages %}
            <div class="col-12 col-md-6">
              <a href="{% pageurl ad %}" class="anons_item">
                <div class="date">
                  <b class="number_data">{{ ad.date|date:"j" }}</b>
                  <b>{{ ad.date|date:"F"|slice:":3" }}</b>
                </div>
                <div class="alert alert-secondary anons_body" role="alert">
                  {{ ad.title }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  <div class="wrapper_fluid">
    <div class="container">
      <div class="row news_list">
        <div class="col-12 news_block">
          <div class="row justify-content-between head_news">
            <div class="col-1"><h4>Новости</h4></div>
            <div class="col-2 col-all_news"><a class="btn btn-outline-primary all_news" role="button" href="{% pageurl page.page_in_top_nav %}">Все новости</a></div>
          </div>
          <div class="row">
            {% for post in blogpages %}
            <div class="col-12 col-sm-6">
              {% with post=post.specific %}
              <a href="{% pageurl post %}">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 news">
                  {% if post.main_image %}
                    {% with post.main_image as main_image %}
                        {% image main_image width-550 as tmp_photo %}
                        <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}"
                            height="{{ tmp_photo.height }}" alt="{{ post.title }}" class="my-custom-class" />
                    {% endwith %}
                  {% else %}
                    <img class="img-fluid" src="{% static 'img/zagl.svg' %}" alt="">
                  {% endif %}
                  <div class="card-body d-flex flex-column align-items-stretch">
                    <h5 class="mb-0">
                      <a href="{% pageurl post %}">{{ post.title }}</a>
                    </h5>
                    <div class="mb-1 text-muted">{{ post.date }}</div>
                    <p class="card-text mb-auto">{{ post.intro|truncatechars:75 }}</p>
                  </div>
                </div>
              </a>  
              {% endwith %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row live_univers">
      <div class="col-12 col-lg-6">
        <h4 class="head_video">
          Жизнь филиала
          <a class="btn btn-outline-primary all_news video_button" role="button" target="_none" href="https://www.youtube.com/channel/UCrNu7qVvqgfJ8MdBoMnTPSg">Все видео</a>
        </h4>
        <div class="card mb-3 video">
        {{ page.video }}
        </div>
      </div>
      <div class="col-12 col-lg-5  gallery">
        <h4 class="head_video"><a class="btn btn-outline-primary all_news gallery_but" role="button" href="{% url 'blog:all_page_galery' %}">Все галереи</a></h4>
        <div class="row">
          {% for g in galerry %}
            <div class="col-6 col-sm-3 col-lg-6  gallery_img">
              <div class="card">
                <a href="{% pageurl g %}">{% image g.main_image max-205x190 %}</a>
                <div class="card-body">{{ g.title }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper_fluid">
    <div class="container">
      <div class="row justify-content-center partners">
        {% for item in page.partners_images.all %}
          <div class="col-2 col-md-1">
            <a href="{{ item.url }}">
              {% image item.image original class="partners_image" %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>    
  </div>
</main>  

{% endblock %}
  
{% block extra_js %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <script src="{% static "js/week.js" %}" ></script>
{% endblock %}

{% block partners %}
  {% for item in page.partners_images.all %}
    <a href="{{ item.url }}">{% image item.image original class="partners" %}</a>
  {% endfor %}
{% endblock %}