{% load render_top_menu wagtailcore_tags %}
{% for menuitem in menuitems %}
  {% if menuitem.show_dropdown %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="top_nav{{ forloop.counter }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ menuitem.title }}
      </a>
      <div class="dropdown-menu" aria-labelledby="top_nav{{ forloop.counter }}">
        {% render_top_menu_child parent=menuitem calling_page=self %}
      </div>
    </li>  
  {% else %}
    <li class="nav-item nav_link_custom">
      {% if menuitem.specific.urls %}
        <a class="nav-link " href="{{ menuitem.specific.urls }}">{{ menuitem.title }}</a>        
      {% else %}
        <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>        
      {% endif %}
    </li>  
  {% endif %}
{% endfor %}