{% load blog_tags wagtailcore_tags %}
{% for menuitem in menuitems %}
      {% if menuitem.specific.urls %}
        <a class="dropdown-item" href="{{ menuitem.specific.urls }}">{{ menuitem.title }}</a>        
      {% else %}
        <a class="dropdown-item" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
      {% endif %}
{% endfor %}